{% assign script_host = "http://www.nomnoml.com" %}
    <script src="{{script_host}}/lib/zepto.min.js"></script>
    <script src="{{script_host}}/lib/lodash.min.js"></script>
    <script src="{{script_host}}/lib/dagre.min.js"></script>
    <script src="{{script_host}}/skanaar.canvas.js"></script>
    <script src="{{script_host}}/skanaar.svg.js"></script>
    <script src="{{script_host}}/skanaar.util.js"></script>
    <script src="{{script_host}}/skanaar.vector.js"></script>
    <script src="{{script_host}}/nomnoml.jison.js"></script>
    <script src="{{script_host}}/nomnoml.parser.js"></script>
    <script src="{{script_host}}/nomnoml.layouter.js"></script>
    <script src="{{script_host}}/nomnoml.renderer.js"></script>
    <script src="{{script_host}}/nomnoml.js"></script>

